<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{asset "img/favicon.png"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    <meta property="og:image" content="{{asset "img/headshot.jpg" }}" />

    <meta name="google-site-verification" content="1nT35s40o2ZKZfHwpf1dIaNKVsvRWluXXj_QHSf6hnc" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<div class="top-decoration"></div>

<a href="/">
    <div class="logo"></div>
</a>

<div class="main">
    <div class="container">
        {{{body}}}
    </div>
</div>

<footer class="footer">
    <a target="_blank" href="http://www.youtube.com/watch?v=JU9TouRnO84">
        <img class="footer-icon" src="{{asset "img/ghost.svg"}}" alt="ghost icon" width="30" height="30">
    </a>
</footer>

{{ghost_foot}}

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="{{asset "js/index.js"}}"></script>
</body>
</html>
