{{!< default}}

<div class="col col-primary">
    <header class="header">
        <img class="avatar" src="https://s3.amazonaws.com/tylerpme-assets/images/avatar%402x.png" alt="Tyler Pearson's avatar" width="118" height="129">

        <div class="header-intro">
            <p>Hello, I’m Tyler Pearson and I’m a infrastructure engineer living in beautiful San Francisco, California. I like code, politics, startups, mountain bikes, and Taco Tuesday.</p>
        </div>

        <ul class="list-social">
            <li>
                <a href="http://twitter.com/tylerpearson" target="_blank">
                    <img src="{{asset "img/icon-twitter.svg"}}" alt="Twitter icon" width="42" height="42">
                </a>
            </li>
            <li>
                <a href="http://github.com/tylerpearson" target="_blank">
                    <img src="{{asset "img/icon-github.svg"}}" alt="Github icon" width="42" height="42">
                </a>
            </li>
        </ul>
    </header>
    <div class="box">
        <h2 class="title"><img class="title-icon" src="{{asset "img/mouse.svg"}}" height="22" width="22"> Work</h2>

        <div class="box-inner">
            <a href="https://letote.com"><img class="work-logo" src="{{asset "img/logo-letote.png"}}" alt="Le Tote logo" width="40"></a>
            <p><strong>Software Engineer</strong> - <em>(current)</em> Le Tote ("Netflix for women's fashion") is a fast growing, YC-backed subscription company for women's fashion. Currently I'm working with Elixir, Phoenix, and React to build cutting-edge warehouse software that integrates with RFID hardware devices running embedded Elixir/Erlang. Additionally, I handle a lot of our DevOps needs and work on maintaining and improving our infrastructure that runs on AWS.</p>
        </div>

        <div class="box-inner">
            <a href="https://sweebleapp.com/tyler"><img class="work-logo" src="{{asset "img/logo-sweeble.svg"}}" alt="Sweeble logo" width="40" height="40"></a>
            <p><strong>CTO</strong> - Sweeble is a photo and video app for iOS and Android we launched in June. The backend is combination of Node on Parse and Rails on Heroku with PostgreSQL. The web view uses some fun tech like WebSockets and React. Since launch, Sweeble has trended in the App Store on multiple occasions.</p>
        </div>

        <div class="box-inner">
            <a href="http://bubblews.com/user/tyler"><img class="work-logo" src="{{asset "img/logo-bubblews.svg"}}" alt="Bubblews logo" width="40" height="40"></a>
            <p><strong>CTO</strong> - At Bubblews, I handled the tech-side of a website that serves more than 250 million page views and 30 million uniques per month. Bubblews has been featured by Mashable as one of the top ten social networks on the rise with apps like Tinder, Vine, Medium, and Snapchat. During the beginning of 2015 we rebuilt the site from the ground up with Ruby on Rails on PostgreSQL and Redis to better handle growth. Previously it was PHP. Here is an <a href="https://medium.com/@tylerpearson/how-we-rebuilt-a-site-with-half-a-million-users-and-moved-it-from-the-stone-age-to-the-present-6e582d1a993d#.p1e69s4as">in-depth writeup on everything we did</a>.</p>
        </div>

        <div class="box-inner">
            <a href="http://newmediacampaigns.com"><img class="work-logo" src="{{asset "img/logo-nmc.png" }}" alt="Bubblews logo" width="33" height="33"></a>
            <p><strong>Web developer and designer -</strong> At New Media Campaigns, I worked on the front-end and back-end with HTML, CSS, JavaScript, Ruby, Rails, Wordpress, and Hifi for political campaigns, non-profits, and businesses. I also designed websites, primarily for political campaigns. It was a lot of fun.</p>

            <ul>
                <li><a href="http://www.newmediacampaigns.com/work/florida-democratic-party">Florida Democratic Party</a></li>
                <li><a href="http://www.newmediacampaigns.com/work/house-majority-pac">House Majority PAC</a></li>
                <li><a href="http://www.newmediacampaigns.com/work/mark-herring">Mark Herring for Attorney General</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col col-secondary">

    {{> "loop"}}

</div>
