{{!< default}}

<div class="col col-primary">
    <header class="header">
        <img class="avatar" src="{{asset "img/avatar@2x.png" }}" alt="Tyler Pearson's avatar" width="118" height="129">

        <div class="header-intro">
            <p>Hello, I’m Tyler Pearson and I’m a full stack developer (and occasional designer) living in beautiful San Francisco, California. I like code, politics, startups, cycling, and Taco Tuesday.</p>
        </div>

        <ul class="list-social">
            <li>
                <a href="http://twitter.com/tylerpearson" target="_blank">
                    <img src="{{asset "img/icon-twitter.svg"}}" alt="Twitter icon" width="42" height="42">
                </a>
            </li>
            <li>
                <a href="http://github.com/tylerpearson" target="_blank">
                    <img src="{{asset "img/icon-github.svg"}}" alt="Github icon" width="42" height="42">
                </a>
            </li>
        </ul>
    </header>
    <div class="box">
        <h2 class="title"><img class="title-icon" src="{{asset "img/flash.svg"}}" height="22" width="22"> About me</h2>
        <p>I started with web development back at the end of college at West Virginia University when I realized I had no interest in pursuing what I'd majored in, accounting. (Fun fact: I've never once regreted not doing accounting.)</p>

        <p>Previously I worked for a few years on the digital-side of political campaigns from local city council races up to Congress &ndash; initially with my own company, Blue Peak Digital, and later with Chapel Hill-based New Media Campaigns. Political campaigns are the only other thing I've encountered that match the excitement of startups.</p>

        <p>Wanting to try something new, I sold virtually everything I owned back last year, moved out to San Francisco, and joined a startup.</p>

        <p>When I'm not coding, I enjoy cycling around San Francisco, reading, and drinking lattes in North Beach.</p>
    </div>
    <div class="box">
        <h2 class="title"><img class="title-icon" src="{{asset "img/mouse.svg"}}" height="22" width="22"> Work</h2>

        <div class="box-inner">
            <a href="https://letote.com"><img class="work-logo" src="{{asset "img/logo-letote.png"}}" alt="Le Tote logo" width="40"></a>
            <p><strong>Software Engineer</strong> - <em>(current)</em> Le Tote ("Netflix for women's fashion") is a YC-backed company where I work day-to-day with Ruby, Rails, JavaScript and AWS to run and grow the subscription fashion service.</p>
        </div>

        <div class="box-inner">
            <a href="https://sweebleapp.com/tyler"><img class="work-logo" src="{{asset "img/logo-sweeble.svg"}}" alt="Sweeble logo" width="40" height="40"></a>
            <p><strong>CTO</strong> - <em>(current)</em> Sweeble is a photo and video app for iOS and Android we launched in June. The backend is combination of Node on Parse and Rails on Heroku with PostgreSQL. The web view uses some fun tech like WebSockets and React. Since launch, Sweeble has trended in the App Store on multiple occasions.</p>
        </div>

        <div class="box-inner">
            <a href="http://bubblews.com/user/tyler"><img class="work-logo" src="{{asset "img/logo-bubblews.svg"}}" alt="Bubblews logo" width="40" height="40"></a>
            <p><strong>CTO</strong> - At Bubblews, I handled the tech-side of a website that serves more than 250 million page views and 30 million uniques per month. Bubblews has been featured by Mashable as one of the top ten social networks on the rise with apps like Tinder, Vine, Medium, and Snapchat. During the beginning of 2015 we rebuilt the site from the ground up with Ruby on Rails on PostgreSQL and Redis to better handle growth. Previously it was PHP. Here is an <a href="https://medium.com/@tylerpearson/how-we-rebuilt-a-site-with-half-a-million-users-and-moved-it-from-the-stone-age-to-the-present-6e582d1a993d#.p1e69s4as">in-depth writeup on everything we did</a>.</p>
        </div>

        <div class="box-inner">
            <a href="http://newmediacampaigns.com"><img class="work-logo" src="{{asset "img/logo-nmc.png" }}" alt="Bubblews logo" width="33" height="33"></a>
            <p><strong>Web developer and designer -</strong> At New Media Campaigns, I worked on the front-end and back-end with HTML, CSS, JavaScript, Ruby, Rails, Wordpress, and Hifi for political campaigns, non-profits, and businesses. I also designed websites, primarily for political campaigns. It was a lot of fun.</p>

            <ul>
                <li><a href="http://www.newmediacampaigns.com/work/florida-democratic-party">Florida Democratic Party</a></li>
                <li><a href="http://www.newmediacampaigns.com/work/house-majority-pac">House Majority PAC</a></li>
                <li><a href="http://www.newmediacampaigns.com/work/mark-herring">Mark Herring for Attorney General</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col col-secondary">
    <div class="box">
        <h2 class="title"><img class="title-icon" src="{{asset "img/lab.svg" }}" width="20" height="20"> Open Source</h2>
        <p>I try to push as much code as I can to Github in the hope that someone else will find it useful. Here are some a few of the projects currently up there:</p>

        <div class="box-gallery">
            <div class="box-gallery-item">
                <a href="https://github.com/tylerpearson/california-laws-api">
                    <h3 class="box-gallery-item-title">California Laws API</h3>
                    <p class="box-gallery-item-preview">API for the California state code with rails-api and Elasticsearch</p>
                </a>
            </div>
            <div class="box-gallery-item">
                <a href="https://github.com/tylerpearson/twitter-most-followed-scripts">
                    <h3 class="box-gallery-item-title">Twitter Most Followed</h3>
                    <p class="box-gallery-item-preview">Scripts to find the most commonly followed accounts by a group of people</p>
                </a>
            </div>
            <div class="box-gallery-item">
                <a href="https://github.com/tylerpearson/CoverPop">
                    <h3 class="box-gallery-item-title">CoverPop.js</h3>
                    <p class="box-gallery-item-preview">JavaScript plugin for setting up modal splash pages</p>
                </a>
            </div>
            <div class="box-gallery-item">
                <a href="https://github.com/tylerpearson/lazyYT">
                    <h3 class="box-gallery-item-title">LazyYT</h3>
                    <p class="box-gallery-item-preview">jQuery plugin to lazy load Youtube iframe videos</p>
                </a>
            </div>
            <div class="box-gallery-item">
                <a href="https://github.com/tylerpearson/running-maps">
                    <h3 class="box-gallery-item-title">Running Maps</h3>
                    <p class="box-gallery-item-preview">Scripts to generate map visualizations of the most popular running routes in a city</p>
                </a>
            </div>
            <div class="box-gallery-item">
                <a href="https://github.com/tylerpearson/civic_aide">
                    <h3 class="box-gallery-item-title">CivicAide</h3>
                    <p class="box-gallery-item-preview">Ruby gem for the Google Civic Information API</p>
                </a>
            </div>
        </div>
    </div>

    {{> "loop"}}

</div>
